.axis path,
.axis line{
    fill: none;
    stroke: black;
}

.line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Lato;
    font-size: 13px;
}

#pi-chart {
    display: block;
    margin: auto;
}

form {
    text-align:center;
}

p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size:150%;
}